body {
    background-color: rgb(214, 214, 214);
}


.cont {
    background-color: rgb(98, 145, 188);
    border: 1px solid rgb(98, 145, 188);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 60%;
}

.usl {
    text-align: center;
    font-size: 125%;

}

.action {
    background-color: rgb(67 92 115);
    border: 1px solid rgb(67 92 115);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    margin-top: 10%;
    margin-bottom: 20%;
    padding: 10%;
    position: relative;
    z-index: 2;
}

.action input {
    border: 1px solid rgb(67 92 115);
    
    width: 300px;
    height: 52px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.action button {
    border: 1px solid rgb(67 92 115);
    width: 130px;
    height: 55px;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
}
.otvet {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background: rgb(50 64 76);
    top: -267px;
    border: 1px solid rgb(50 64 76);
    border-radius: 15px;
    position: relative;
    height: fit-content;
    /* padding-bottom: 20vh; */
    animation: gg 1s forwards;
}

.otvet.show{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background: rgb(50 64 76);
    top: -267px;
    position: relative;
    height: fit-content;
    /* padding-bottom: 20vh; */
    border: 1px solid rgb(50 64 76);
    border-radius: 15px;
    animation: ani 1s forwards;


}

@keyframes ani {
    0% {transform: translateY(0);}
    100% {transform: translateY(100%);}
}

@keyframes gg {
    90% {transform: translateY(0);}
}   


.otvet p {
    color: white;
    text-align: center;
    font-size: 30px;
}